<%- include('../partials/header'); -%>

<% for(let i=0; i < bookData.length; i++) {%>


<div class="container">
    
        <img style="width: 18rem;" src="<%=bookData[i].picture %>"> 
        <div class="card-body d-inline-block">
            <h5><%= bookData[i].title %></h5>
            <p> Author: <%= bookData[i].author_fname%> <%= bookData[i].author_lname %></p>
            <p> Category: <%= bookData[i].category%></p>
            <p> Year Released: <%= bookData[i].release_year%></p>
            <p> Number of Pages: <%= bookData[i].pages%></p>
            <p> Price: $ <%= bookData[i].price%> </p>
            <a href="/books/<%= bookData[i].book_id%>/edit" class="btn btn-outline-warning">Edit Book</a>
            <form action="/books/<%= bookData[i].book_id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger">Delete Book</button>
            </form>
        </div>
    
</div>

       


<% } %>




<%- include('../partials/footer'); -%>